{% extends "base.html" %}

{% block title %} New Product {% endblock %}

{% block content %}
  <div class="container">

    <form method="POST" action="{{ url_for('products.create') }}">
      {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}*<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.description.label }}<br>
        {{ form.description(class="form-control") }}<br>
        {% for error in form.description.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.price.label }}*<br>
        {{ form.price(class="form-control") }}<br>
        {% for error in form.price.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.picture_url.label }}<br>
        {{ form.picture_url(class="form-control") }}<br>
        {% for error in form.picture_url.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p><button type="submit" class="btn btn-primary">Create</button></p>
    </form>

  </div>
{% endblock %}