{% extends "base.html" %}
{% block title %} All Products {% endblock %}

{% block content %}

<form class="navbar-form navbar-left" method="GET">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" name="q" value="{{ request.args.get('q', '') }}">
    </div>
   <p><select name="sort_by">
    <option>Sort by</option>
    <option>Rank by lowest price</option>
    <option>Rank by highest price</option>
   </select>
    <button type="submit"  class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>Search</button>
  </form>

<div class="container">
    <div class="row">
        {% if products != 'Nothing was found' %}
      {% for product in products %}
        <div class="card mr-2" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
                <h6>{{ product.price_cents / 100 }} $</h6>
            </div>
             <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <img src="{{ product.get_image() }}" width="250px" class="img-thumbnail" />
                </li>
            </ul>
            <div class="card-body">
              <a href="{{ url_for('products.details', product_id=product.id) }}" class="card-link btn btn-primary">
                View more
              </a>
                {% if current_user.is_authenticated %}
                    <a class="btn btn-success" href="{{ url_for('basket.add_to_basket', product_id=product.id) }}">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                  <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
                  <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                  </svg>
                    </a>
                {% endif %}
            </div>
          </div>
      {% endfor %}
        {% else %}
        <h4>Nothing was found ;(</h4>
        {% endif %}

    </div>

  </div>
{% endblock %}